@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: PowerGrotesk;
    src: url('./assets/police/PowerGrotesk-UltraBold.woff');
}

.font-powerG {
    font-family: 'PowerGrotesk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.video-container {
    position: relative;
}

.video {
    width: 100%;
}

.top-image,
.bottom-image {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1; /* Assure que l'image est superposée à la vidéo */
}

.top-image {
    top: 0;
}

.bottom-image {
    bottom: 0;
    transform: scaleY(-1);
}

.translateX {
    transform: translateX(10px);
}

.rotateX {
    transform: scaleX(-1);
}

@media screen and (max-width : 700px) {
    .artist,
    .map,
    .login {
        margin-left: 20%;
        margin-top: 5%;
        cursor: pointer;
    }

    .home {
        margin-left: 20%;
        cursor: pointer;
    }

    .login {
        margin-bottom: 10%;
    }

    div[class*=box] {
        width: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container-leftheader {
        justify-content: flex-end;
    }

    #container-rightheader {
        display: none;

    }

    #container-navbar {
        padding-right: 20px;
    }

    body {
        font-family: "Poppins", sans-serif;
    }

    .container {
        max-width: 1050px;
        width: 90%;
        margin: auto;
    }

    .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
        background-color: white;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }

    .navbar .menu-items {
        position: absolute;
        display: flex;
        background-color: #FFEAE7;
        z-index: 10;
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        color: #0e2431;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .navbar .nav-container a:hover {
        font-weight: bolder;
    }

    .nav-container {
        display: block;
        height: 60px;
        justify-content: space-around;
        align-items: flex-end;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 15;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 101;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        display: none;
        padding-top: 70px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 67%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        left: 125px;
        font-size: 1.2rem;
        color: #0e2431;
    }

    .logoBurger {
        position: absolute;
        top: 15px;
        left: 90px;
        color: #0e2431;
    }

    .img-logo-yfestival {
        display: none;
    }


    .img-logo-yfestival-burger {
        width: 150px;
        cursor: pointer;
        justify-content: flex-end;
    }

    .nav-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked~.logo {
        display: none;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
}

body {
    background-color: #FFEAE7;
}
#container-allheader {
    padding: 15px;
	position: absolute;
    z-index: 10;
	width: 100%;
}
.home:hover {
    font-weight: bold;
    transition: 0.3s;
}
.artist:hover {
    font-weight: bold;
    transition: 0.3s;
}
.map:hover {
    font-weight: bold;
    transition: 0.3s;
}
@media screen and (min-width : 701px) {

    .navbar .menu-items {
        display: none;
    }

    #container-allheader {
        padding: 15px;
        position: absolute;
        width: 100%;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: red;
        background-color: #FFEAE7;
    }
    #container-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .img-logo-yfestival {
        width: 150px;
        cursor: pointer;
    }

    .img-logo-yfestival-burger {
        display: none;
    }

    #container-rightheader {
        width: auto;
        display: flex;
        align-items: center;

    }

    #container-navbar {
        padding-right: 20px;
        cursor: pointer;
    }


    div[class*=box] {
        height: 33.33%;
        width: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.box-1 {
    background-color: #EE2677; 
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

/* 
========================
      BUTTON TICKETING
========================
*/
.btn-one {
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #000000;
    border-bottom-color: #000000;
    transform: scale(0.1, 1);
    cursor: pointer;
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

/* ---- PAGE ARTISTES ---- */
#container-titleartist {
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.touring-artist {
    font-size: 20px;
    font-weight: bold;
}
#container-allcarteartist {
    padding-top: 40px;
}

/* MODIF CARTE ARTISTE ROSE */
#carteartistpink {
    box-shadow: 5px 5px 5px rgb(160, 159, 159);
    background-color: #E87EA1;
    margin-bottom: 40px;
    margin-left: 40px;
    width: 70%;
    padding: 20px;
    display: flex;
    border-radius: 0.4em;
    cursor: pointer;
}
#pictureartistpink {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagepink {
    display: flex;
}
.infoartistpink {
    font-weight: bold;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MODIF CARTE TAUPE + QUELQUES MODIF DU PINK*/
#container-carteartistaupe {
    display: flex;
    justify-content: flex-end;
}
#carteartistaupe {
    box-shadow: 5px 5px 5px rgb(160, 159, 159);
    margin-bottom: 40px;
    background-color: #EBB3A9;
    margin-right: 40px;
    display: flex;
    width: 70%;
    padding: 20px;
    border-radius: 0.4rem;
    cursor: pointer;
}
#container-titleotherartist {
    display: flex;
    justify-content: center;
}

/* MODIF 3 CARTES */
#container-allcard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#cartes-pink {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(160, 159, 159);
    padding: 20px;
    background-color: #E87EA1;
    border-radius: 0.3rem;
    margin: 20px;
    width: 25%;
}
#container-name {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.name {
    font-weight: bold;
    font-size: 20px;
}
#pictures-3cartes {
    display: flex;
    justify-content: center;
}
#cartes-taupe {
    box-shadow: 5px 5px 5px rgb(160, 159, 159);
    cursor: pointer;
    padding: 20px;
    background-color: #EBB3A9;
    border-radius: 0.3rem;
    margin: 20px;
    width: 25%;
}



/* RESPONSIVE PAGE ARTIST */
@media screen and (max-width : 700px) {
    /* MODIF RESPONSIVE TOURNING ARTISTES */
    #container-carteartistpink {
        display: flex;
        justify-content: center;
    }
    #carteartistpink {
        display: flex;
        align-items: center;
        width: 90%;
        margin-left: 0px;
    }
    .infoartistpink {
        margin-left: 20px;
    }  
    #carteartistaupe {
        width: 90%;
        display: flex;
        align-items: center;
        margin-right: 0px;
    }
}

@media screen and (max-width : 900px) {
    /* MODIF RESPONSIVE OTHER ARTISTES */
    #container-allcard {
        display: flex;
        flex-direction: column ;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    #pictures-3cartes {
        display: flex;
        justify-content: center;
    }
    #container-carteartistaupe {
        display: flex;
        justify-content: center;
    }
    .picturecartes {
        width: 50%;
    }
    #cartes-pink {
        width: 70%;
    }
    #cartes-taupe {
        width: 70%;
    }

}
/* ---- FIN PAGE ARTISTES ---- */

/* ---- DEBUT PAGE MAP ---- */

/* PARTIE MAP */
#container-allmap {
    height: 40%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#container-titlemap {
    padding-top: 55px;
    display: flex;
    justify-content: center;
}
#container-map {
    display: flex;
    justify-content: center;
    width: 40%;
}
.map {
    width: 100%;
    height: 100%;
    margin-right: 20px;
    border-radius: 0.3rem;
}
.titlemap {
    font-weight: bold;
    font-size: 22px;
}
#container-infomap {
    background-color: #E87EA1;  
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 40%;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.3rem;
}
#container-line {
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.line {
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #FFEAE7, black, #FFEAE7);
}
/* ---- FIN PAGE MAP ---- */
